
.Notification-Background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 5;
    cursor: default
}
.Notification{
    font-size: 14px;
    position: fixed;
    top: 75px;
    left: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-left  .7s;
	background: #fff;
	transition: .3s ease;
	overflow: hidden;
	padding: 15px;
	max-height: 100px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 9px #999;
	color: #000;
	opacity: .9;
    display: flex;
    align-items: center;
    user-select: none;
    border: 3px solid;


}

.Notification:hover {
	box-shadow: 0 0 12px #fff;
	opacity: 1;
}

.Notification-Button{
    position: absolute;
    top:10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
	/* color: #fff; */
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
	cursor: pointer;
}

.Notification-Title{
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
    width: 300px;
    height: 18px;
    font-family: 'Raleway';
}

.Notification-Message {
	margin: 0;
	text-align: left;
    height: 18px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Raleway';
}

.Notification-Image {
    float: left;
    margin-right: 15px;
}

.Notification-Image img {
    width: 30px;
    height: 30px;
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}