:root {
  --page-toHeader-margin: 80px;
  --header-height: 80px;
  --edge-margin: 20%;
  --white: #ffffff;
  --white-hover: #e9e8e8;
  --black: #1d1f22;
  --active-color: #5ece7b;
  --active-hover-color: #4fad68;
  --gray-opacity: #39374885;
  --gray: #9b9999;
  --light-gray: #e5e5e5;
}
