
:root{
    --white: #FFFFFF;
    --white-hover: #e9e8e8;
    --edge-margin: 20%;
    --black: #1D1F22;
    --active-color: #5ece7b;
    --active-hover-color: #4fad68;
    --header-height:  80px;
    --gray-opacity: #39374885;
    --page-toHeader-margin: 80px;
    --gray: #9b9999;
    --light-gray: #E5E5E5;
}
