.ProductListing{
    margin-top: var(--page-toHeader-margin);
    width: 100vw;
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    padding:  0 6%;
}

.ProductListing-CategoryTitle{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 160%;
    color: var(--text-color)
}