:root{
    --itemsMargin-to-bottom: 25px
}
.Minicart{
    position: absolute;
    left: 0;
    width: 100vw;
}

.Minicart .Minicart-ScreenBackground{
    height: 100%;
    width: 100%;
    background: var(--gray-opacity);
    z-index: 2;
    position: fixed;
}

.Minicart .Minicart-ScreenBackground-Overlay{
    position: absolute;
    left: calc(100vw - 33%);
    width: 325px;
    background-color: var(--background-color);
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    overflow-y: scroll;
    max-height: 500px;

}

.Minicart-Header{
    display: flex;
    margin-bottom: var(--itemsMargin-to-bottom);
}

.Minicart-Header-Indentificantion{
    font-family: 'Raleway';
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.Minicart-Header-CartItemsCount{
    font-family: 'Raleway';
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
}

.Minicart-Products{
    margin-bottom: var(--itemsMargin-to-bottom);
}

.Minicart-Products-Product{
    width: 100%;
    display: grid;
    grid-template-columns: 3.5fr 0.5fr 2fr;
    margin-bottom: var(--itemsMargin-to-bottom);
}

.Minicart-Products-Product-Information{
    padding: 10px 0 10px 10px;
}

.Minicart-Products-Product-Information-Indentification{
    margin-bottom: 10px;
}

.Minicart-Products-Product-Information-Indentification-Brand,
.Minicart-Products-Product-Information-Indentification-Name{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color)
}

.Minicart-Products-Product-Information-Value-Label{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color)
}
.Minicart-Products-Product-Information-Attributes{
    display: flex;
    flex-wrap: wrap;
}
.Minicart-Products-Product-Quantity{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.Minicart-Products-Product-Quantity-PlusButton,
.Minicart-Products-Product-Quantity-MinusButton{
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.Minicart-Products-Product-Quantity-PlusButton:hover,
.Minicart-Products-Product-Quantity-MinusButton:hover{
    background: var(--white-hover-color);
}

.Minicart-Products-Product-Quantity-PlusButton-Icon,
.Minicart-Products-Product-Quantity-MinusButton-Icon{
    height: 12px;
    width: 12px;
}

.Minicart-Products-Product-Quantity-CurrentQuantity{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color)
}

.Minicart-Products-Product-ImageArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Minicart-Products-Product-ImageArea-Image{
    width: auto;
    max-height: auto;
    max-width: 100%;
}

.Minicart-TotalPrice{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: var(--itemsMargin-to-bottom);
}

.Minicart-TotalPrice-Label{
    font-family: 'Roboto';
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
}

.Minicart-TotalPrice-Value{
    font-family: 'Raleway';
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
}

.Minicart-Functions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 43px;
}

.Minicart-Functions-ViewBagButton{
    width: 48%;
    height: 40px;
    background: transparent;
    border: 1px solid var(--text-color);
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;

}

.Minicart-Functions-ViewBagButton:hover{
    background-color: var(--white-hover-color);
}


.Minicart-Functions-CheckOutButton{
    width: 48%;
    border: none;
    background-color: var(--active-color);

    font-family:'Raleway';
    font-weight: 600;
    font-size: 14px;
    color: var(--text-white-color);
    cursor: pointer;
    transition: 0.3s;
    
}
.Minicart-Functions-CheckOutButton:hover{
    background-color: var(--active-hover-color);
}


.Minicart-Attribute{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.Minicart-Attribute-AttributeText,
.Minicart-Attribute-AttributeSwatch
{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.Minicart-Attribute-AttributeText-Option,
.Minicart-Attribute-AttributeText-Option-Selected{
    padding: 0 10px;
    height: 24px;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    user-select: none;
    background: transparent;
    transition: 0.3s;
}
.Minicart-Attribute-AttributeText-Option-Selected{
    background-color: var(--text-color);
    color: var(--text-white-color)
}


.Minicart-Attribute-AttributeSwatch-Option{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    padding: 0 5px;

}

.Minicart-Attribute-AttributeSwatch-Option-Color,
.Minicart-Attribute-AttributeSwatch-Option-Color-Selected{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 100%;
    border: 0.5px solid #9b9999;
    z-index: 0;

}


.Minicart-Attribute-AttributeText-Option-Text,
.Minicart-Attribute-AttributeSwatch-Option-Text
{
    font-family: 'Source Sans Pro';
    letter-spacing: 0.03em;
    font-size: 12px;

}
.Minicart-Attribute-AttributeSwatch-Option-Text{
    font-size: 14px;
}
