.Header {
  height: var(--header-height);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  background-color: var(--white);
  box-sizing: border-box;
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 3;

  &-Categories {
    display: flex;
    flex-direction: row;
    margin-left: var(--edge-margin);
  }

  &-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Options {
    margin-right: var(--edge-margin);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-Currency {
      width: 30px;
      height: 100%;

      &-Button {
        background-color: transparent;
        border: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-Label {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 160%;
          color: var(--black);
          margin-right: 4px;
        }
        &-Indicator {
          height: 20px;
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          &-Arrow {
            margin-top: 2px;
            width: 8px;
          }
        }
      }
    }

    &-Cart {
      width: 30px;
      height: 100%;
      margin-left: 10px;

      &-Button {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer;

        &-Indicator {
          height: 20px;
          width: 18px;
        }
        &-QuantityIndicator {
          position: absolute;
          right: -9px;
          top: 23px;
          min-height: 20px;
          min-width: 20px;
          border-radius: 100%;
          background-color: var(--black);
          display: flex;
          justify-content: center;
          align-items: center;

          &-Text {
            font-family: "Roboto";
            font-weight: 700;
            font-size: 14px;
            color: var(--white);
          }
        }
      }
    }
  }
}
