$marginTop-Items: 30px;

.ProductPage {
  margin-top: calc(var(--page-toHeader-margin) * 1.5);
  width: 100%;
  height: calc(100% - var(--header-height));
  box-sizing: border-box;
  padding: 0 10% 0 6%;
  margin-right: 10px;
  display: flex;

  &-ImageArea {
    display: flex;
    width: 65%;
    user-select: none;
    overflow: hidden;

    &-ShowcaseOptions {
      width: 30%;
      max-height: calc(95vh - var(--header-height));
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-Image {
        max-width: 75%;
        height: auto;
        margin-bottom: 40px;
        cursor: pointer;

        &:hover {
          border: 1px solid var(--light-gray);
          border-radius: 2px;
        }
      }
    }

    &-ShowcaseBig {
      width: 100%;
      margin-left: 10%;

      &-Image {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &-ProductInformation {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 60px;

    &-Identification {
      display: flex;
      flex-direction: column;
      align-items: left;

      &-Brand {
        font-family: "Raleway";
        font-weight: 600;
        font-size: 30px;
        line-height: 160%;
        color: var(--black);
      }
      &-Name {
        font-family: "Raleway";
        font-weight: 400;
        font-size: 30px;
        color: var(--black);
      }
    }

    &-Attributes {
      margin-top: $marginTop-Items;
    }

    &-PurchaseArea {
      margin-top: $marginTop-Items;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-Price {
        font-family: "Roboto Condensed";
        font-weight: 700;
        font-size: 18px;
        line-height: 160%;
        color: var(--black);
      }

      &-PriceValue {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 24px;
        line-height: 160%;
        margin-top: 10px;
      }

      &-Button {
        width: 100%;
        height: 52px;
        border: none;
        background-color: var(--active-color);
        color: var(--white);
        font-weight: 600;
        font-size: 16px;
        margin-top: 25px;
        transition: 0.3s;
        user-select: none;


        &:hover {
          background-color: var(--active-hover-color);
          cursor: pointer;
        }

        &-OutOfStock {
          width: 100%;
          height: 52px;
          border: none;
          background-color: transparent;
          color: var(--black);
          border: 1px solid var(--black);
          font-weight: 600;
          font-size: 16px;
          margin-top: 25px;
          user-select: none;
          cursor: pointer;
        }
      }
    }

    &-Description {
      margin-top: $marginTop-Items;

      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--black);

      *{
        margin-bottom:15px
      }
    }
  }
}
