.Notification {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 5;
  cursor: default;

  &-Content {
    position: fixed;
    top: 75px;
    left: 12px;
    display: flex;
    align-items: center;
    max-width: 400px;
    max-height: 100px;
    padding: 15px 60px 15px 15px;
    background: var(--white);
    overflow: hidden;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 9px var(--light-gray);
    border: 3px solid;
    opacity: 0.9;
    color: var(--black);
    transition: transform 0.6s ease-in-out;
    animation: toast-in-left 0.7s;
    user-select: none;

    &:hover {
      box-shadow: 0 0 12px var(--white);
      opacity: 1;
    }

    &-Button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 16px;
      text-shadow: 0 1px 0 var(--white);
      opacity: 0.8;
      cursor: pointer;
    }

    &-Title {
      font-family: "Raleway";
      font-weight: 700;
      font-size: 16px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 6px;
      height: 18px;
    }

    &-Message {
      margin: 0;
      text-align: left;
      height: 18px;
      margin-left: -1px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Raleway";
      font-size: 14px;
    }

    &-ImageArea {
      float: left;
      margin-right: 15px;

      &-Image {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
